*{
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    border: none;

    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            -box-sizing: border-box;

}

/*stylesheet login pages
==========================
 */
div.background{
    position: absolute;
    left: 0;
    width: calc(100% - 300px);
    height: 100%;

    background-image: url(../Images/index.png);
    background-size: cover;

}


section#conteudo-view{
    position: absolute;
    right: 0;
    padding: 20px;
    float: right;
    width: 400px;
    height: 100%;
    background: #3098E2;
}

section#conteudo-view h1{
    float: left;
    width: 100%;
    font: 3em 'Fredoka One', cursive;
    color: #f3f3f3;
}
section#conteudo-view form p,
section#conteudo-view h3{
    float: left;
    width: 100%;
    font: .8em 'Fredoka One', cursive;
    color: #f3f3f3;
}

section#conteudo-view form,
section#conteudo-view  form label{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

section#conteudo-view form p{
    font-size: 1.25em;
}

section#conteudo-view form{
    margin-top: 40px;
}

section#conteudo-view form input[type="submit"],
section#conteudo-view form label input{
    float: left;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    border: 2px solid #52ca9b;
    color: #959595;
    font: 1em 'arial';
}

section#conteudo-view form input[type="submit"]{
    width: 60%;
    float: right;
    background: #4dc0b5;
    text-align: center;
    font: 1em 'Fredoka One', cursive;
    color: #f9f9f9;
}
